body {
    background-image: url("background.jpg");
    background-repeat: repeat-y;
}


/* topnav is for black container for navigation bar*/
.topnav {
    overflow: hidden;
    background-color: black;

}

.topnav nav li{
    float: left;
    list-style-type: none;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav nav li a{
  text-decoration: none;
  color: aliceblue;
  padding: 14px 16px;
  font-size: 17px;
}

.topnav nav li a:hover {
    background-color: white;
    color: black;
    
}

.topnav nav li a.active {
    background-color: white;
    color: black;
    
}


/* styling search box */

.topnav input[type=text] {
    float: right;
    
    padding: 6px;
    border-color: white;
    margin-right: 16px;
    margin-top: 8px;
    font-size: 17px;
    
}

input.search-query {
    background-color: white;
    color: rgb(46, 43, 43);
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
    .topnav a, .topnav input[type=text] {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;
    }
  }


  .intro {
    color: #aaaaaa;
    position: relative;
    align-self: center;
    margin-top: 130px;
    margin-left: 70px;
  }
  
  .intro h1{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: -40px;
    
  }
  
  .intro h2{
    font-size: 50px;
    color: chocolate;
    margin-bottom: -25px;
    font-family: 'Courier New', Courier, monospace;
  }
  
  .intro h3{
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
  }


  .home__img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 260px;
    margin-bottom: 220px;
    margin-right: 220px;
    
  }
  
  .home__blob {
    fill: rgb(172, 219, 223);
  }
  
  .home__blob-img {
    width: 360px;
  }

  .hero {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -47.5rem;
  }

  .bio {
    width: 25rem;
    padding: 0.625rem;
    border-radius: 6px;
    box-shadow: 0px 2px 15px 2px #8b8eaf;
    color: #aaaaaa;
    margin-top: 1.5rem;
    
  }

  .bio h1 {
    margin-bottom: 0.5rem;
  }

  .bio p {
    line-height: 1.7rem;
    padding: 0.3rem 0;
    color: chocolate;
  }

  .more-about {
    
    
    align-items: center;
    width: 60rem;
    padding: 0.625rem;
    border-radius: 6px;
    box-shadow: 0px 2px 15px 2px #8b8eaf;
    color: #aaaaaa;
    margin-top: 4rem;
    margin-left: 10rem;

  }
  .more-about h2 {
    margin-bottom: 0.5rem;
    text-align: center;

  }
  .more-about p{
    line-height: 1.7rem;
    padding: 0.4rem;
    color: chocolate;
  }

  .skills {
    max-width: 68.75rem;
    margin: auto;
    text-align: center;
    margin-top: 2.5rem;
    box-shadow: 0px 2px 15px 2px #8b8eaf;
  }

  .skills-header {
    margin-bottom: 0.5rem;
    color: #aaaaaa;

  }

  .skills-wrapper img{
    padding: 1.25rem;

  }
  .icon {
    width: 6.875rem;
    height: 6.25rem;
  }
  
  .projects {
    
    padding: 32px 0;
    margin-top: 2rem;
    text-align: center;
    color: #aaaaaa;
  }
  .project-pic{
    width: 100%;
    height: 85%;
  }

  .projects-container{
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 15px 2px #8b8eaf;
  }

  .project-container p {
    padding: 0.4rem;
  }
  .project-title {
    margin-bottom: 0.5;
    color: chocolate;
  }
  .project-details {
    margin-bottom: 0.5;
    color: #aaaaaa;
  }
  .project-card {
    background-color: rgb(17, 15, 17);
    border-radius: 11px;
    box-shadow: 0px 2px 15px 2px #8b8eaf;
    padding: 20px;
    margin: 10px;
  }

  .contact {
    margin-top: 2rem;
    
    
  }

  .contact h2{
    text-align: center;
    margin-bottom: 3rem;
    color: #aaaaaa;
  }

  .contact-form-container {
    max-width: 40.75rem;
    margin: 0 auto;
    padding: 0.983rem;
    border-radius: 5px;
    box-shadow: 0px 2px 15px 2px #8b8eaf;

  }
  .contact-form-container label {
    line-height: 2.7em;
    font-weight: 700;
    color: chocolate;
  }
  .contact-form-container textarea {
    min-height: 2.7rem;
    font-size: 14px;
  }

  .contact-form-container .input-field{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    border: none;
    border: 2px outset #aaaaaa;
    font-size: 0.875rem;
    outline: none;
  }

  .input-field::placeholder {
    padding: 0.5rem;
    color: black;
  }

  .submit-btn {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #8b8eaf;
    border: 2px solid #aaaaaa;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 700;
    transition: 0.3s;

  }
  .submit-btn:hover {
    background-color: chocolate;
    border: 2px solid #aaaaaa;
    cursor: pointer;
  }
  .socials {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 2%;
    bottom: 50%;
  }

  .socicon {
    width: 2rem;
    height: 2rem;
  }

  footer {
    background-color: #8b8eaf;
    padding: 0.5rem;
    text-align: center;
    margin: 1rem 0 0;
    
    
  }



  

